@using CinemaTiketsShop.ViewModels.MovieVMs;
@using CinemaTiketsShop.Data.Enums;

@model CreateMovieViewModel

@{
    ViewData["Title"] = "Add new movie";
    Dictionary<int, string>? Cinemas = (Dictionary<int, string>?)ViewData["Cinemas"];
    
}


<div class="row text">

    <div class="col-md-12">
        <div class="col-md-8  offset-2">
            <p>
                <h1>Add a new Movie:</h1>
            </p>

            <div class="col-md-8 offset-2">

                <div class="form-group text-center">
                    <img style="max-width: 250px" id="FotoPreview" alt="not initialized" />
                </div>

                <form enctype="multipart/form-data" asp-action="Create" class="gap-4">

                    <div style="margin-top: 40px">
                        <input type="radio" name="Picture_Upload_Method" value="FromDevice" checked />
                        <label asp-for="Foto" class="form-label"><strong>Select a picture from your device:</strong></label>
                        <input asp-for="Foto" class="form-control" type="file">
                        <span asp-validation-for="Foto" class="text-danger"></span>
                    </div>

                    <div style="margin-top: 40px">
                        <input type="radio" name="Picture_Upload_Method" value="FromUrl" />
                        <label asp-for="PictureUrl" class="form-label"><strong>Or put a picture URL:</strong></label>
                        <input asp-for="PictureUrl" class="form-control" type="text" placeholder="https://example.jpeg (Only .jpeg, .png, .svg, .webp)">
                        <span asp-validation-for="PictureUrl" class="text-danger"></span>
                    </div>

                    <div style="margin-top: 40px">
                        <label asp-for="Name" class="form-label"><strong>Movie Name:</strong></label>
                        <input type="text" class="form-control" asp-for="Name" placeholder="Movie Name" required>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div style="margin-top: 40px">
                        <label asp-for="Bio" class="form-label"><strong>Description:</strong></label>
                        <textarea type="text" class="form-control" asp-for="Bio" placeholder="Movie Description" required></textarea>
                        <span asp-validation-for="Bio" class="text-danger"></span>
                    </div>

                    <div style="margin-top: 40px">
                        <label asp-for="Category" class="form-label"><strong>Select Movie Category:</strong></label>
                        <select asp-for="Category" class="form-select">
                            <option class="dropdown-item">--Select a Category--</option>
                            @if (Cinemas is not null)
                                @foreach (var category in Enum.GetValues(typeof(MovieCategory)))
                                {
                                    <option class="dropdown-item" value="@category">@category</option>
                                }
                        </select>
                        <span asp-validation-for="Category" class="text-danger"></span>
                    </div>

                    <div style="margin-top: 40px">
                        <label asp-for="CinemaId" class="form-label"><strong>Select cinema:</strong></label>
                        <select asp-for="CinemaId" class="form-select">
                            <option class="dropdown-item">--Select a Cinema--</option>
                            @if(Cinemas is not null)
                            @foreach(var c in Cinemas)
                            {
                                <option class="dropdown-item" value="@c.Key">@c.Value</option>
                            }
                        </select>
                        <span asp-validation-for="CinemaId" class="text-danger"></span>
                    </div>

                    <div style="margin-top: 40px">
                        <label asp-for="Price" class="form-label"><strong>Tiket Price:</strong></label>
                        <input type="number" step="0.01" class="form-control" asp-for="Price" placeholder="00.00€" required>
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>

                    <h2  style ="margin-top: 40px">Release date:</h2>

                    <div style="margin-top: 20px">
                        <label asp-for="StartDate" class="form-label"><strong>Starts on:</strong></label>
                        <input type="date" class="form-control" asp-for="StartDate" placeholder="dd-mm-yyyy" required>
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>

                    <div style="margin-top: 20px">
                        <label asp-for="EndDate" class="form-label"><strong>Expires on:</strong></label>
                        <input type="date" class="form-control" asp-for="EndDate" placeholder="dd-mm-yyyy" required>
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>

                    @(await Html.PartialAsync("_Actor_Producer_SelectTable.cshtml", Model))

                    <div style="margin-top: 10px">
                        <div class="d-flex flex-row-reverse justify-content-lg-between">
                            <input type="submit" formmethod="post" value="Create" asp-action="Create" class="btn btn-outline-success float-start" />
                            <a class="btn btn-outline-secondary" asp-action="Index">Show all</a>
                        </div>
                    </div>

                    
                    
                </form>

            </div>
        </div>
    </div>

</div>

@section scripts {
    <script>
        $(document).ready(function () {
            // Listen for the change event on the file input
            $("#Foto").on("change", function (event) {
                var output = document.getElementById('FotoPreview');
                var file = event.target.files[0]; // Get the selected file

                if (file) {
                    var reader = new FileReader();

                    // When the file is successfully read
                    reader.onload = function (e) {
                        output.src = e.target.result; // Set the preview's src to the file's data URL
                    };

                    // Read the file as a data URL
                    reader.readAsDataURL(file);
                } else {
                    output.src = ""; // Clear the preview if no file is selected
                }
            });
        });

        $(document).ready(function(){
            var output =  document.getElementById('FotoPreview');
            output.src = $("#PictureUrl").val();
        })

        $("#PictureUrl").on("change", function(){
            var output =  document.getElementById('FotoPreview');
            output.src = $(this).val();
        })
    </script>
}

